.recovery_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.icon_cont_rec {
    margin-bottom: 30px;
}
.text {
    margin-bottom: 15px;
    padding: 0;
}
.text h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
}
.text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--gray);
}
.text .email {
    font-weight: 500;
}
.group_inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
}

.custom-input {
    border: 1px solid var(--grayBorder);
    border-radius: 2px;
    padding: 5px 12px;
    width: 40px;
    height: 40px;
}

.custom-input:not(:first-child) {
    margin-left: 12px;
}

.ant-input-group .ant-input {
    width: 40px;
}
.subtitle_rec {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--gray);
}
@media screen and (max-width: 360px) {
    .recovery_cont {
        border-radius: 2px;
        padding: 32px 25px;
        width: 328px;
        height: 457px;
        background-color: var(--white);
    }
}
.custom-input:focus {
    border-color: #2f54eb;
    outline: none;
}
