.err_Email {
    border-radius: 2px;
    padding: 64px 32px 56px 32px;
    width: 539px;
    height: 355px;
    background-color: var(--white);
}
.err_Email_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img_cont {
    margin-bottom: 34px;
}
.text_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.text_cont h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin: 0;
}

.text_cont p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--gray);
    padding: 0 70px;
    margin: 0;
}
.button_err_Email {
    background-color: var(--primary-light-blue);
    color: white;
    border: 1px solid var(--primary-light-blue);
    border-radius: 2px;
    padding: 4px 15px;
    height: 40px;
}
@media screen and (max-width: 360px) {
    .err_Email {
        border-radius: 2px;
        padding: 64px 32px 56px 32px;
        width: 328px;
        height: 386px;
    }
    .text_cont p {
        padding: 0;
    }
}
