.content {
    max-width: 752px;
    margin-left: 24px;
}
.actions-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 2px;
    min-width: 752px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    margin-top: 24px;
    display: inline-block;
    vertical-align: top;
}
.actions {
    padding: 24px;
    width: 704px;
}
.actions-container p {
    font-family: "Inter", sans-serif;
    color: #061178;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.4;
}

.actions-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    word-wrap: break-word;
}

.actions-container li {
    font-family: "Inter", sans-serif;
    color: #061178;
    line-height: 130%;
    font-weight: 500;
    font-size: 16px;
}

.actions-container li:before {
    content: "—";
    margin-right: 5px;
}
.wrapp-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;

    height: auto;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    margin-top: 24px;
    padding: 24px 24px;
}

.wrapp-container p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: black;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    max-width: 752px;

    margin-top: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 101px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-right: 16px;
}

.card p {
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
.title {
    padding: 12px 24px;
    min-width: 240px;
    height: 45px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}
.btn {
    padding: 12px 0px;

    height: 56px;
    align-items: center;
}
.button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #2f54eb;
    align-items: center;
}
.btn-mar {
    margin-right: 7px;
}
.button svg path {
    fill: #2f54eb;
}
.button:hover {
    background-color: #2e8eb8;
}
@media screen and (max-width: 834px) {
    .content {
        min-width: 578px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .actions-container {
        width: 100%;
        min-width: 578px;
        max-width: 722px;
    }
    .actions {
        width: 100%;
        padding-left: 24px;
        min-width: 530px;
        height: auto;
    }
    .wrapp-container {
        min-width: 578px;
        max-width: 722px;
    }
    .wrapp-container p {
        width: 100%;
        min-width: 530px;
        max-width: 674px;
        letter-spacing: 0.3px;
        font-size: 20px;
    }
    .cards-container {
        display: flex;
        justify-content: space-between;
        max-width: 722px;
        min-width: 578px;
    }
    .card {
        display: flex;
        flex-direction: column;
        max-width: 230px;
        min-width: 182px;
        height: auto;
    }
    .title {
        height: 66px;
        min-width: 134px;
        text-align: left;
    }
    .btn {
        padding: 15px 0px;
        align-items: center;
    }
    .tren {
        letter-spacing: -0.7px;
    }
    .card3 {
        margin-right: 0;
    }
}
@media screen and (max-width: 834px) {
    .content {
        min-width: 328px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .actions-container {
        width: 100%;
        min-width: 328px;
    }
    .actions {
        width: 100%;
        padding: 16px;
        min-width: 296px;
    }
    .wrapp-container {
        width: 100%;
        min-width: 328px;
    }
    .wrapp-container p {
        width: 100%;
        min-width: 296px;
        letter-spacing: 0.3px;
        font-size: 20px;
        height: auto;
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        min-width: 328px;
    }
    .card {
        display: flex;
        min-width: 328px;
        height: auto;
        margin-bottom: 8px;
    }
    .title {
        height: 45px;
        min-width: 328px;
        text-align: center;
    }
    .btn {
        padding: 15px 0px;
        align-items: center;
    }
}
