.sider-bar {
    flex: 0 0 auto;
    height: 100vh;
    background-color: #fff;
    color: black;
    position: relative;
    transition: all 0.3s;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.logo-img {
    max-width: 80%;
    max-height: 100%;
}
.menu-icon svg path {
    fill: #061178;
}

.menu-icon {
    width: 16px;
    height: 16px;
}
.menu-items {
    display: flex;
    flex-direction: column;
}

.exit-icon {
    margin-right: 15px;
    width: 14px;
    height: 14px;
}
.ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #fff;
    transition: all 0.2s;
}
.trigger-col {
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0 0, 100% 21%, 100% 80%, 0 100%);
    
}
.trigger-col svg path {
    fill: #8C8C8C;
}
.trigger {
    margin-top: 310px;
    height: 66px;
    width: 20px;
}
.ant-btn-icon-only {
    margin-right: 0;
}
.ant-btn-icon-only {
    padding: 2.4px 0;
    font-size: 16px;
    border-radius: 2px;
    vertical-align: -3px;
}
.trigger:active,
.trigger.active {
    background-color: rgb(255, 255, 255);  // Цвет фона при активации
}