.ant-result {
    padding: 0;
}
.ant-btn-primary {
    border-color: var(--primary-light-blue);
    background: var(--primary-light-blue);
}
.button-error {
    width: 100%;
}
.ant-result-title {
    font-family: var(--fontInter);
    font-weight: var(--font500);
}
.ant-result-subtitle {
    color: var(--gray);
}
