.ant-result {
    padding: 0;
}
.ant-btn-primary {
    border-color: var(--primary-light-blue);
    background: var(--primary-light-blue);
}
.button-error {
    width: 100%;
}
.ant-result-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.ant-result-subtitle {
    color: var(--gray);
}
@media screen and (max-width: 360px) {
    .err_cont {
        border-radius: 2px;
        padding: 32px 16px;
        width: 328px;
        height: 317px;
    }
}
