.ant-result {
    padding: 0;
}
.ant-btn-primary {
    border-color: var(--primary-light-blue);
    background: var(--primary-light-blue);
}
.button-error {
    width: 100%;
}
.ant-result-title {
    font-family: var(--fontInter);
    font-weight: var(--font500);
    line-height: var(--line1);
    margin-bottom: 10px;
}
.ant-result-subtitle {
    color: var(--gray);
    line-height: var(--line1);
}
@media screen and (max-width: 360px) {
    .error {
        width: 296px;
        height: auto;
        margin: 0 auto;
    }
}
