.err_505_cont {
    border-radius: 2px;
    padding: 64px 32px 56px;
    width: 539px;
    height: 550px;
    background-color: var(--white);
    margin: 0 auto;
}
.err_505_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ant-result-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.ant-result-subtitle {
    color: var(--gray);
}

.ant-btn-primary {
    border-color: var(--primary-light-blue);
    background: var(--primary-light-blue);
}

.button-error {
    width: 20%;
}
@media screen and (max-width: 360px) {
    .err_505_cont {
        border-radius: 2px;
        width: 328px;
        height: auto;
        padding: 32px !important;
    }
    .button-error {
        width: 40%;
    }
}
