body {
    margin: 0;
    padding: 0;
}
.container {
    margin-left: 24px;
    display: flex;
}
.breadcrumb {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-top: 20px;
}
.blocks h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    padding-bottom: 20px;
    padding: 8px 8px 0px 0px;
}
.blocks {
    display: flex;
    flex-direction: column;
    width: 1199px;
}
.set {
    margin-right: -40px;
    margin-top: 32px;
}
.btn {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
}
.btn.ant-btn-text {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
}
