body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}
.breadcrumb {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-top: 20px;
}
.blocks h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    padding-bottom: 20px;
    padding: 8px 8px 0px 0px;
}
.blocks {
    display: flex;
    flex-direction: column;
    width: 1199px;
}

.btn1 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
}
.btn1.ant-btn-text {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
}
@media screen and (max-width: 834px) {
    .blocks h1 {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        max-width: 620px;
        min-width: 473px;
        letter-spacing: -1px;
        height: auto;
    }
    .breadcrumb {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-top: 20px;
    }
    .btn1 {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }
    .anticon-setting {
        display: none;
    }
}
@media screen and (max-width: 360px) {
    .blocks h1 {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: -1px;
        height: auto;
        min-width: 280px;
        min-height: 116px;
    }
    .breadcrumb {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-top: 20px;
    }
    .ok {
        display: none;
    }

    .btn1 {
        width: 32px;
        height: 32px;
        background-color: #fff;
        clip-path: circle(50% at 50% 50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .set-icon {
        margin-top: 3px;
    }
}
