@import "./node_modules/antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:ital@1&display=swap");
.main-page {
    background: url("/feeeena/public/back_1440.png") no-repeat center center;
    background-size: cover;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #f0f5ff;
    min-height: 168px;
    padding: 0 24px;
}
