@import "./node_modules/antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:ital@1&display=swap");
.sider-bar {
    background-color: rgb(255, 255, 255);
}
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #f0f5ff;
    min-height: 168px;
    padding: 0 24px;
}
