@import "./node_modules/antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:ital@1&display=swap");

.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    max-width: 1440px;
    max-height: 1024px;
    background-image: url("/back_1440.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #f0f5ff;
    min-height: 168px;
    padding: 0;
}
