.footer-container {
    display: flex;
    justify-content: space-between;
}

.button-reviews {
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
}

.footer-right {
    background-color: white;
    text-align: center;
    margin: 50px;
    border-radius: 2px;
    width: 240px;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-bottom: 1px solid #ddd;
}

.footer-row p {
    color: gray;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    flex: 1;
}

.footer-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.button-download,
.button-gray {
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
}

.button-gray {
    color: gray;
}
