.enter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    background-image: url("./public/Enter_page_light_blur.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.err_cont {
    border-radius: 2px;
    padding: 64px 32px;
    width: 539px;
    height: 345px;
    background-color: white;
}
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 368px;
    height: 217px;
    margin: 0 auto;
}

.title_error {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.message_error {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #8c8c8c;
    margin: 0;
    padding: 0;
}
.error-button {
    background-color: #2f54eb;
    color: white;
    width: 100%;
    border: 1px solid #2f54eb;
    border-radius: 2px;
    padding: 4px 15px;
    height: 40px;
}
@media screen and (max-width: 834px) {
    .enter {
        max-width: 834px;
        height: 100vh;
    }
    .err_cont {
        border-radius: 2px;
        padding: 64px 32px;
        width: 539px;
        height: 345px;
    }
}
@media screen and (max-width: 360px) {
    .enter {
        max-width: 360px;
        height: 100vh;
    }
    .err_cont {
        border-radius: 2px;
        padding: 32px 16px;
        width: 328px;
        height: 281px;
    }
    .error {
        width: 296px;
        height: 217px;
        margin: 0 auto;
    }
}
