.enter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    background-image: url("./public/Enter_page_light_blur.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 539px;
    height: 686px;
    background-color: var(--white);
    padding: 64px 32px;
    border-radius: 2px;
}
.form {
    justify-content: center;
    width: 368px;
    height: 434px;
    margin: 0 53.5px;
}
.logo_cont {
    width: 309px;
    height: 76px;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.login-form-button {
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
}
.google {
    background-color: var(--white);
}
.login-formforgot {
    font-weight: 400;
    font-size: 14px;
}
.tabs {
    width: 100%;
    display: flex;
}
.inp {
    height: 40px;
}

.ant-form-item-control-input-content {
    width: 100%;
}
.inputs {
    margin-bottom: 32px;
}
.ant-checkbox-checked .ant-checkbox-inner {
    /*ЦВЕТ ГАЛОЧКИ ЧЕКБОКСА*/
    background-color: var(--primary-light-blue);
    border-color: var(--primary-light-blue);
}

.ant-tabs-tab {
    color: var(--black);
}

.ant-tabs-tab.ant-tabs-tab-active {
    color: var(--primary-light-blue);
}
.ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
    background-color: var(--primary-light-blue);
}
.link_enter {
    color: var(--primary-light-blue);
    font-weight: 400;
    font-size: 16px;
}
@media screen and (max-width: var(--tablet)) {
    .enter {
        max-width: 834px;
        height: 100vh;
    }
    .container {
        border-radius: 2px;
        padding: 64px 32px;
        width: 539px;
        height: 742px;
    }
}
@media screen and (max-width: var(--mobile)) {
    .enter {
        max-width: 360px;
        height: 100vh;
    }
    .container {
        border-radius: 2px;
        padding: 32px 16px;
        width: 328px;
        height: 564px;
    }
    .form {
        width: 100%;
    }
    .logo_cont {
        width: auto;
        height: auto;
        max-width: 203px;
        max-height: 50px;
    }
    .link_enter {
        font-size: "14px";
    }
}
