@import "antd/dist/antd.css";
@import "@components/sider/Sider.css";
@import "@components/footer/footer.css";
@import "@components/header/header.css";
@import "@components/content/content.css";
@import "@pages/main-page/mainPage.css";
@import "@components/enter/login.css";
@import "@components/loader/loader.css";
@import "@components/configFile/blure/blure.css";

@import "@components/passRecovery/PassRecovery.css";
:root {
    min-height: 100vh;
    font-family: "Inter", sans-serif;

    --primary-light-blue: #2f54eb;
    --white: white;
    --black: black;
    --gray: #8c8c8c;
    --grayBorder: #bfbfbf;
    --fontInter: "Inter", sans-serif;
    --fontSize: 16;
    --antd-wave-shadow-color: #2f54eb !important;
}
